.main-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.main-modal.active {
    visibility: visible;
}

.main-modal .overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.main-modal .modal {
    height: 450px;
    max-width: 450px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 10px;
}

.main-modal .modal .cancel-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: #eec17d;
}

.main-modal .icon {
    height: 110px;
    width: 110px;
    background-color: #eec17d;
    line-height: 110px;
    border-radius: 50%;
    font-size: 55px;
    color: #fff;
}

.main-modal .modal-content {
    margin: 10px 0;
}

.main-modal .modal-content .content-header {
    font-size: 30px;
    font-weight: 600;
}

.main-modal .modal-content p {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-left: -3px;
}

.main-modal .modal form {
    width: 98%;
}

.main-modal .modal form .field {
    height: 45px;
    width: 95%;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.main-modal .modal form .field input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 15px;
    outline: none;
    font-size: 17px;
    transition: all .3s ease;
}

.main-modal .modal form .field input:focus {
    border-color: #edb562;
}

.main-modal .modal form .button {
    height: 47px;
}

.main-modal .modal form .button input {
    background-color: #eec17d;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    padding: 0px;
    cursor: pointer;
}

.main-modal .modal form .text {
    margin-top: 5px;

}

.header-container {
    background-color: rgba(0, 0, 0, 0.5);
}

.content-1, .content-2{
    height: auto;
    width: 100%;
    min-height: 50vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.content-2 {
    margin-top: 20px;
    gap: .5rem;
}

.fa-text-content h5 {
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-bottom: 25px;
}

.fa-text-content h1{
    font-family: 'Arvo', serif;
    font-size: 60px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

/*-----------------------------------------------------------------------*/

.content-1 .slideshow-container {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin-left: 40px;
}

.content-2 .slideshow-container-2{
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin-right: 40px;
}

.content-1 .slide,
.content-2 .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Áttűnési idő és görbék beállítása */
}

.content-1 .slide img,
.content-2 .slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-1 .slide.active,
.content-2 .slide.active {
  opacity: 1;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.content-1 .slide.active ~ .slide,
.content-2 .slide.active ~ .slide {
  animation: slideAnimation 3s infinite;
}

.content-1 .prev,
.content-1 .next,
.content-2 .prev,
.content-2 .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px 16px;
}

.content-1 .prev {
  left: 16px;
}

.content-1 .next {
  right: 16px;
}

.content-2 .prev {
  left: 16px;
}

.content-2 .next {
  right: 16px;
}


/*----------------------------------------------------------------------------------*/

@media (max-width: 1535px) {
    header{
        padding: 11px 3%;
        transition: .2s;
    }
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        width: 530px;
        height: 330px;
    }
}

@media (max-width: 1470px){
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        width: 520px;
        height: 320px;
    }
}

@media (max-width: 1460px) {
    section{
        padding-bottom: 0 12%;
        padding-top: 0 12%;
        transition: .2s;
    }
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        width: 470px;
        height: 270px;
    }
}
   

@media (max-width: 1368px){
    /* * {
        border: 1px red solid;
    } */
    section {
        height: 100%;
    }
    .content-1, .content-2 {
        height: 50%;
        gap: 0rem;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .content-1 {
        margin-top: 70px;
        margin-bottom: 0px;
    }
    .fa-text-content{
        padding: 0px;
    }
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        width: 100%;
        height: 600px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .content-2 {
        flex-direction: column-reverse;
      }
      .content-2 .fa-text-content {
        order: 1;
        margin-bottom: 20px;
      }
      .content-2 .slideshow-container-2 {
        order: 2;
        margin-left: auto;
        margin-right: auto;        
      }
      div.page {
        height: auto;
      }
}

@media (max-width: 1340px){
    .slide img{
        width: 100%;
        height: auto;
    }
    .content-1 h1, .content-2 h1{
        font-size: 45px;
        margin: 0 0 30px;
    }
    .content-1 h5, .content-2 h5{
        margin-bottom: 25px;
    }
}

@media (max-width: 1260px) {
    .navlist a {
        margin-left: 70px;
    }
}

@media (max-width: 1197px) {
    div.page {
        background: linear-gradient(90deg, #eec17d 21%, #ebba71 55.52%, #eec17d 81%);
    }
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%; /*Nav list not visible*/
        width: 200px;
        height: 100vh;
        background: #eeb55f;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 10px;
        transition: all .55s ease;
        border-left: 2px #f1b04d solid;
        border-bottom: 2px #f1b04d solid;
        border-top: 2px #f1b04d solid;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
    header.sticky .navlist{
        background: rgb(218, 210, 210);
        border-left: 2px #c4c2c2 solid;        
        border-bottom: 2px #c4c2c2 solid;
        border-top: 2px #c4c2c2 solid;
    }
    section {
        padding: 0 3%;
        padding-left: 0px;
        padding-right: 0px;
        transition: .2s;
        height: 200vh;
    }
    .content-1, .content-2 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 800px){
    body {
        background-color: #eec17d;
    }
    section {
        height: auto;
    }
    div.page {
        height: auto;
    }
    .content-1, .content-2 {
        height: 50%;
    }
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        height: 400px;
    }
}

@media (max-width: 700px) {
    div.page {
        width: 100%;
        align-items: center;
        /* padding-bottom: 20px; */
        border-bottom: #000 20px;
    }
    footer {
        width: 100%;
    }
}

@media (max-width: 470px) {
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        height: 300px;
    }
}