/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    /* border: 1px red solid; */
    /* list-style: none;
    text-decoration: none;
} */

/* html,body{height: 100%;}

div.page>header{grid-area:head;}
div.page>section{grid-area:cont;}
div.page>footer{grid-area:foot;}

div.page{
	width: 85%;
	margin:0 auto;
	display: grid;
	grid-template-areas: 
		'head'
		'cont'
		'foot'
	;
	grid-template-rows: auto auto 100px;
	grid-template-columns: auto;
}

body {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/background.jpg)
}

.page{    
    background: linear-gradient(90deg, #eec17d 21%, #ddaf69 55.52%, #eec17d 81%);
    /* background: linear-gradient(90deg, #eec17d 21%, #ca9d59 55.52%, #eec17d 81%); */             /*
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 85% 100%;
    animation: animatedBackground 50s linear infinite;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/         /*
    to {
      background-position: -10000px 0;
    }
}

header{
    position: fixed;
    right: 0;
    z-index: 10000;
    top: 0;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 9%;
    background: transparent;
    transition: 0.4s;
    background-color: #eec17d;
}

header.sticky{
    padding: 15px 9%;
    background-color: rgb(218, 210, 210);
    /* transition: white 200ms linear; */ /*
}

.logo{
    font-size: 35px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
}

.navlist{
    display: flex;
    transition: 0.6s;
}

.navlist a {
    color: white;
    display: inline-block;
    position: relative;
    margin-left: 80px;
    font-size: 18px;
    font-weight: 600;
}

.navlist a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: right right;
    transition: transform 0.25s ease-out;
}

.navlist a:hover::after{
    transform: scaleX(1);
    transform-origin: left left;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

header.sticky ul li a, header.sticky .logo, header.sticky #menu-icon{
    color: #6e6e6e;
}

header.sticky .navlist a::after {
    background-color: #6e6e6e;
}

section{
    padding: 0 12%;
    height: auto;
} */

.content-1{
    height: 50%;
    width: 100%;
    margin-top: 80px; /*80px*/
    min-height: 50vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.content-2{
    margin-top: 20px;/*0px*/
    height: 50%;
    width: 100%;    
    min-height: 50vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.fa-text-content h5 {
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-bottom: 25px;
}

.fa-text-content h1{
    font-family: 'Arvo', serif;
    font-size: 60px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

/*-----------------------------------------------------------------------*/

.content-1 .slideshow-container {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin-left: 40px;
}

.content-2 .slideshow-container-2{
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin-right: 40px;
}

.content-1 .slide,
.content-2 .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Áttűnési idő és görbék beállítása */
}

.content-1 .slide img,
.content-2 .slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-1 .slide.active,
.content-2 .slide.active {
  opacity: 1;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.content-1 .slide.active ~ .slide,
.content-2 .slide.active ~ .slide {
  animation: slideAnimation 3s infinite;
}

.content-1 .prev,
.content-1 .next,
.content-2 .prev,
.content-2 .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px 16px;
}

.content-1 .prev {
  left: 16px;
}

.content-1 .next {
  right: 16px;
}

.content-2 .prev {
  left: 16px;
}

.content-2 .next {
  right: 16px;
}

footer{
    background: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 80px;
    color: white;
}


/*----------------------------------------------------------------------------------*/

@media (max-width: 1535px) {
    header{
        padding: 11px 3%;
        transition: .2s;
    }
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        width: 530px;
        height: 330px;
    }
}

@media (max-width: 1470px){
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        width: 520px;
        height: 320px;
    }
}

@media (max-width: 1460px) {
    section{
        padding-bottom: 0 12%;
        padding-top: 0 12%;
        transition: .2s;
    }
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        width: 470px;
        height: 270px;
    }
}
   

@media (max-width: 1368px){
    /* * {
        border: 1px red solid;
    } */
    section {
        height: 100%;
    }
    .content-1, .content-2 {
        height: 50%;
        gap: 0rem;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .content-1 {
        margin-top: 70px;
        margin-bottom: 0px;
    }
    .fa-text-content{
        padding: 0px;
    }
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        width: 100%;
        height: 600px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .content-2 {
        flex-direction: column-reverse;
      }
      .content-2 .fa-text-content {
        order: 1;
        margin-bottom: 20px;
      }
      .content-2 .slideshow-container-2 {
        order: 2;
        margin-left: auto;
        margin-right: auto;        
      }
      div.page {
        height: auto;
      }
}

@media (max-width: 1340px){
    .slide img{
        width: 100%;
        height: auto;
    }
    .content-1 h1, .content-2 h1{
        font-size: 45px;
        margin: 0 0 30px;
    }
    .content-1 h5, .content-2 h5{
        margin-bottom: 25px;
    }
}

@media (max-width: 1260px) {
    .navlist a {
        margin-left: 70px;
    }
}

@media (max-width: 1197px) {
    div.page {
        background: linear-gradient(90deg, #eec17d 21%, #ebba71 55.52%, #eec17d 81%);
    }
    #menu-icon {
        display: block;
    }
    section {
        padding: 0 3%;
        padding-left: 0px;
        padding-right: 0px;
        transition: .2s;
        height: 200vh;
    }
    .content-1, .content-2 {
        margin-left: auto;
        margin-right: auto;
    }
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%; /*Nav list not visible*/
        width: 200px;
        height: 100vh;
        background: #eeb55f;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 10px;
        transition: all .55s ease;
        border-left: 2px #f1b04d solid;
        border-bottom: 2px #f1b04d solid;
        border-top: 2px #f1b04d solid;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
    header.sticky .navlist{
        background: rgb(218, 210, 210);
        border-left: 2px #c4c2c2 solid;        
        border-bottom: 2px #c4c2c2 solid;
        border-top: 2px #c4c2c2 solid;
    }
}

@media (max-width: 800px){
    body {
        background-color: #eec17d;
    }
    section {
        height: auto;
    }
    div.page {
        height: auto;
    }
    .content-1, .content-2 {
        height: 50%;
    }
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        height: 400px;
    }
}

@media (max-width: 700px) {
    div.page {
        width: 100%;
        align-items: center;
        /* padding-bottom: 20px; */
        border-bottom: #000 20px;
    }
    footer {
        width: 100%;
    }
}

@media (max-width: 470px) {
    .content-1 .slideshow-container, .content-2 .slideshow-container-2 {
        height: 300px;
    }
}